<header>
  <h1>Angular Change Detection</h1>

  <div class="actions">
    <button #tickButton>App tick</button>
    <button #timeButton>setTimeout (1s)</button>
    <button #requestButton>Http Request</button>
  </div>
</header>

<main>
  <div class="tree-container" *ngIf="true">
    <div class="tree" id="tree-zone-enabled">
      <h2>NgZone: Active</h2>
      <cdv-root [node]="selectedTree"></cdv-root>
    </div>
    <div class="tree" id="tree-zone-disabled">
      <h2>NgZone: Inactive</h2>
      <cdv-root #rootZoneLess [node]="selectedTree" [detach]="true"></cdv-root>
    </div>
  </div>

  <section class="settings">
    <div class="setting">
      <label for="tree-select">Tree structure</label>
      <select id="tree-select" (change)="select($event)">
        <option value="0">Mix</option>
        <option value="1">Only Default</option>
        <option value="2">Only OnPush</option>
        <option value="3">Large</option>
      </select>
    </div>
    <div class="setting">
      <label for="check-status">Display ChecksEnabled</label>
      <input type="checkbox" id="check-status" #checkboxCheckStatus />
    </div>
    <div class="setting">
      <label for="dirty-status">Display Dirty Status</label>
      <input type="checkbox" id="dirty-status" #checkboxDirtyStatus />
    </div>
    <div class="setting">
      <label for="dirty-status">Disable NgZone</label>
      <input type="checkbox" id="zone-disabled" #checkboxZoneDisabled />
    </div>
  </section>
</main>

<section class="cards-section">
  <h2>Actions</h2>
  <div class="cards">
    <div class="card">
      <h3>Event</h3>
      <p>Fire an event on the target view.</p>
    </div>
    <div class="card">
      <h3>Value</h3>
      <p>
        Increment the component's model value:number with 1. This is passed as
        an input to child components.
      </p>
    </div>
    <div class="card">
      <h3>Mark</h3>
      <p>Calls <code>ChangeDetectionRef.markForCheck()</code> on the view.</p>
    </div>
    <div class="card">
      <h3>Detect</h3>
      <p>Calls <code>ChangeDetectionRef.detectChanges()</code> on the view.</p>
    </div>
  </div>
</section>

<section class="cards-section">
  <h2>Settings</h2>
  <div class="cards">
    <div class="card">
      <h3>Display ChecksEnabled</h3>
      <p>
        Each view has an internal state that decides if Angular will run change
        detection. By default this is set to always check, unless
        <code>ChangeDetectionStrategy.OnPush</code> is used. OnPush changes the
        state to only check the first time - any further checks require an
        explicit mark which will reset whenever the view is checked.
      </p>
    </div>
    <div class="card">
      <h3>Display Dirty Status</h3>
      <p>
        Simply changing a value in a component will not trigger change detection
        by itself and can cause the model and view to be out of sync.
      </p>
    </div>
  </div>
</section>

<section class="cards-section">
  <h2>Change Detection</h2>
  <div class="cards">
    <div class="card">
      <h3>Change Detection</h3>
      <p>
        Angular
        <a href="https://angular.io/guide/glossary#change-detection"
          >Change Detection</a
        >
        is a built-in framework feature that ensures the automatic
        synchronization between the data of a component and its HTML template
        view.
      </p>
      <br />
      <p>
        Using the default change detection strategy Angular always traverses
        through the whole view hierarchy when triggered - even if it does'nt
        detect any changes.
      </p>
    </div>

    <div class="card">
      <h3>View</h3>
      <p>
        A class with the
        <a href="https://angular.io/guide/glossary#component">@Component()</a>
        decorator and its associated
        <a href="https://angular.io/guide/glossary#component">template</a>
        define a <a href="https://angular.io/guide/glossary#view">View</a>.
      </p>
    </div>

    <div class="card">
      <h3>Change Detection Strategy</h3>
      <p>
        <a href="https://angular.io/api/core/ChangeDetectionStrategy"
          >ChangeDetectionStrategy.Default</a
        >
        is the default behavior and checks the view on every change detection
        run. Data-bound properties in the template is compared (shallow
        comparison) with previous values, so called dirty checking. Any changes
        will be updated in the DOM to reflect new values.
      </p>
      <br />
      <p>
        <a href="https://angular.io/api/core/ChangeDetectionStrategy"
          >ChangeDetectionStrategy.OnPush</a
        >
        disables automatic change detection. It can still be explicitly invoked
        and the view will be marked as dirty when any of these events occur in
        the view itself:
      </p>
      <ul>
        <li>An input has changed (reference comparison)</li>
        <li>An event has fired</li>
        <li>An (Observable | async) has received a new value</li>
      </ul>
    </div>

    <div class="card">
      <h3>ChangeDetectorRef</h3>
      <p>
        In reality there is no separate enity for the ChangeDetectionRef. Its
        simply an interface to extend the View with some public high-level
        methods so dont have to deal with complex low-level operations managing
        the actual state.
      </p>
      <br />
      <p>
        <a href="https://angular.io/api/core/ChangeDetectorRef#markforcheck"
          >markForCheck</a
        >
        is only neccesary to explicitly mark a view that uses OnPush as changed
        (and the full path to the root) so that it can be checked again. This
        does not trigger the actual change detection.
      </p>
      <br />
      <p>
        <a href="https://angular.io/api/core/ChangeDetectorRef#detectchanges"
          >detectChanges</a
        >
        triggers a check of the attached view and its children. This should not
        be neccesary in a normal app but can be useful to implement performant
        local change detection or running apps without automatic change
        detection (zone-less).
      </p>
    </div>

    <div class="card">
      <h3>Zone</h3>
      <p>
        Angular takes care of running change detection on component
        initialization by calling
        <a href="https://angular.io/api/core/ChangeDetectorRef#detectchanges"
          >ApplicationRef.tick()</a
        >, but the DOM keeps recieving asyncrounos updates even after so when
        the model data changes. Zone helps Angular to automatically trigger
        change detection when data possibly have changed. How? The following
        frequently used browser mechanisms are patched to support automatic
        trigger of change detection:
      </p>
      <ul>
        <li>all browser events (click, mouseover, keyup, etc.)</li>
        <li><code>setTimeout()</code> and <code>setInterval()</code></li>
        <li>Ajax HTTP requests</li>
      </ul>
      <br />
      <p>
        Zone is not required to make Angular work. You can opt to but you will
        need to trigger all change detection at the correct timing yourself,
        which requires comprehensive knowledge of change detection.
      </p>
      <br />
      <p>
        To be able to display both examples simultaneously in this
        demonstration, zone.js is actually enabled for both. Though the
        zone-less tree is detached from the root view and certain code is runned
        with <code>NgZone.runOutsideOfAngular()</code> to simulate a zone-less
        environment. If in doubts, enable/disable ngZone in main.ts with
        <code>ngZone: 'noop'</code>
      </p>
    </div>

    <div class="card">
      <h3>Push pipe</h3>
      <p>
        The standard async pipe calls
        <code>ChangeDetectionRef.markForCheck()</code> when a new distinct value
        is emitted from the observable. This does not trigger the actual change
        detection to run. But the value was most likely emitted by an
        asyncrounos mechanism patched by zone.js and therefor change detection
        ran.
      </p>
      <p>
        This makes async pipes less useful in zone-less environments. Lets
        introduce the solution: push pipe. It replaces markForCheck with
        <code>ChangeDetectionRef.detectChanges()</code> (among other changes)
        and improves performance by only running local change detection from the
        specific view.
      </p>
    </div>
  </div>
</section>

<footer>
  <p>Created by <a href="">Maximilian-R</a></p>
</footer>
