<div class="node">
  <div class="content" #nodeRef>
    <div class="check-status"></div>
    {{ cdCheck() }}
    <p>{{ node?.type === strategy.Default ? "Default" : "OnPush" }}</p>
    <p>{{ value }}</p>
    <app-context-menu [target]="nodeRef">
      <button (click)="clicked()">Event</button>
      <button #valueButton>Value</button>
      <button #markButton>Mark</button>
      <button #detectButton>Detect</button>
    </app-context-menu>
  </div>

  <div class="children" *ngIf="node?.children?.length || 0 > 0">
    <ng-container *ngFor="let node of node?.children">
      <cdv-default
        *ngIf="node.type === strategy.Default"
        [node]="node"
        [value]="value"
      ></cdv-default>
      <cdv-onpush
        *ngIf="node.type === strategy.OnPush"
        [node]="node"
        [value]="value"
      ></cdv-onpush>
    </ng-container>
  </div>
</div>
